<a href="https://colab.research.google.com/github/MateoGlz/Progra-Analitica-Descriptica-Predictiva/blob/main/_14Limpieza_Categorica_MateoGL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
ruta = '/content/drive/MyDrive/Colab_Notebooks/nls97.csv'
df = pd.read_csv(ruta)
df.head()

,personid,gender,birthmonth,birthyear,highestgradecompleted,maritalstatus,childathome,childnotathome,wageincome,weeklyhrscomputer,...,colenrfeb13,colenroct13,colenrfeb14,colenroct14,colenrfeb15,colenroct15,colenrfeb16,colenroct16,colenrfeb17,colenroct17
0,100061,Female,5,1980,13.0,Married,4.0,0.0,12500.0,10 hours or more a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
1,100139,Male,9,1983,12.0,Married,2.0,0.0,120000.0,1 to 3 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
2,100284,Male,11,1984,7.0,Never-married,1.0,0.0,58000.0,NaN,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
3,100292,Male,4,1982,NaN,NaN,NaN,NaN,NaN,NaN,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,NaN,NaN,NaN
4,100583,Male,1,1980,13.0,Married,4.0,0.0,30000.0,Less than 1 hour a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled

In [4]:
print("Valores únicos:", df['maritalstatus'].unique())

print("\nFrecuencia:")
print(df['maritalstatus'].value_counts())

Valores únicos: ['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

Frecuencia:
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

In [5]:
df['maritalstatus'] = df['maritalstatus'].replace('Never-married', 'Single')

print("Valores únicos después del cambio:")
print(df['maritalstatus'].unique())

print("\nFrecuencia después del cambio:")
print(df['maritalstatus'].value_counts())

Valores únicos después del cambio:
['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

Frecuencia después del cambio:
maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

In [6]:
import numpy as np

df['marital_grouped'] = np.where(
    df['maritalstatus'].isin(['Single', 'Widowed']),
    'Single/No Partner',
    df['maritalstatus']
)

print("Valores únicos de marital_grouped:")
print(df['marital_grouped'].unique())

print("\nFrecuencia:")
print(df['marital_grouped'].value_counts())

Valores únicos de marital_grouped:
['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

Frecuencia:
marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

In [7]:

print("Tipo de datos de la columna 'gender':")
print(df['gender'].dtype)

print("\nCantidad de bytes de la columna 'gender':")
print(df['gender'].memory_usage(deep=True))

Tipo de datos de la columna 'gender':
object

Cantidad de bytes de la columna 'gender':
485054

In [8]:
df['gender'] = df['gender'].astype('category')

print("Tipo de datos después de la conversión:")
print(df['gender'].dtype)

print("\nCantidad de bytes después de la conversión:")
print(df['gender'].memory_usage(deep=True))

print("\nCategorías únicas:")
print(df['gender'].cat.categories)

Tipo de datos después de la conversión:
category

Cantidad de bytes después de la conversión:
9332

Categorías únicas:
Index(['Female', 'Male'], dtype='object')